/*? MAIN ELEMENTS ?*/

:root {
  --primary-color: #040404;
  --secondary-color: #f8f8f8;
  --main-font: "LEMON MILK", sans-serif !important;
  --body-font: "Lato", sans-serif;
}

nav {
  background: var(--primary-color);
  font-size: 35px;
  font-weight: 100;
  position: fixed !important;
  margin: 0 auto !important;
  width: 94%;
  z-index: 100;
  height: 150px;
  opacity: 0.92;
}
nav .container {
  margin: 0;
}
nav a:hover {
  font-size: 30px;
}

nav a.active {
  text-decoration: line-through;
}
#logo-img {
  width: 250px;
}
#logo-img:hover {
  opacity: 0.8;
}

header {
  padding-top: 10%;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 100px;
  overflow-x: hidden;
  margin: 0 auto;
  width: 95%;
  scroll-behavior: smooth;
}

.highlighted {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 20px 2px 20px;
  font-weight: 500;
  font-size: 56px;
}

h3 {
  font-weight: 100;
}

h4 {
  font-weight: 300;
  margin-top: 5%;
  font-size: 40px;
}

a {
  font-weight: 100;
  font-size: 30px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

a:hover {
  text-decoration: line-through;
  color: var(--secondary-color);
}

.link-logo {
  padding-right: 12%;
}

p {
  font-family: var(--body-font);
  font-size: 25px;
  line-height: 45px;
}

.btn-primary-outline {
  font-family: var(--main-font);
  font-weight: 400 !important;
  font-size: 30px;
  padding: 10px 40px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  transition: all 100ms ease-in-out;
}
.btn-primary-outline:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  text-decoration: none;
  border: none;
}

/* Title sections */
.section-start {
  position: relative;
}
.title {
  position: absolute;
  text-align: center;
  top: 50%;
}
.title-image {
  height: 300px;
  object-fit: cover;
}

/*? MAIN TITLE SECTION ?*/
#pre-save {
  padding-left: 8%;
}

.circle {
  background: var(--secondary-color);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  margin-top: 15%;
}
.tiny-circles {
  background: #f8f8f8;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
#circle-one {
  height: 250px;
  width: 250px;
  top: 23%;
  left: -18%;
}
#circle-two {
  height: 175px;
  width: 175px;
  top: 10%;
  right: 10%;
}
#circle-three {
  height: 150px;
  width: 150px;
  bottom: 0%;
  right: 5%;
}

.pearls {
  top: 15%;
  right: 19%;
  height: 85%;
}

/*? ABOUT SECTION ?*/
#about-title-image {
  object-position: 0 -200px;
}

.about-images {
  width: 641px;
  height: 641px;
  border-radius: 50%;
}

/*? SHOWS SECTION ?*/
.mini-highlighted {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 20px 2px 20px;
  font-weight: 500;
  font-size: 30px;
}

#shows-section .btn-primary-outline {
  font-weight: 100 !important;
}
.disabled {
  background: #dbdbdb !important;
  color: var(--primary-color);
}

/*? MUSIC SECTION ?*/
#music-title-image {
  object-position: 0 -650px;
}

.album {
  background: #dbdbdb;
  padding: 2%;
  width: 100%;
}
#music-section .col-2 {
  margin: 0 !important;
}

/*? STREAMS SECTION ?*/
#streams-title-image {
  object-position: 0 -200px;
}

.guitar-solo {
  position: absolute;
  top: 13%;
  height: 75%;
  width: 80%;
}

.highlight-container {
  position: relative;
  text-align: center;
  padding: 2%;
}

.highlight-container h4 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mini-logo {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  opacity: 0.4;
}
.mini-logo:hover {
  opacity: 0.7;
}

/*? SHOP SECTION ?*/
#shop-title-image {
  object-position: 0 -550px;
}

/*? CONTACT SECTION ?*/
#contact-title-image {
  object-position: 0 -450px;
}

/*? FOOTER ?*/
footer {
  height: 60px;
  text-align: center;
  font-family: var(--body-font);
  position: fixed;
  bottom: 0;
}
footer li {
  list-style: none;
}
footer a:hover {
  font-size: 36px;
  text-decoration: none;
}

/*! RESPONSIVE !*/
@media (max-width: 1172px) {
  body {
    font-size: 10px !important;
  }

}
/*? TITLE SECTION ?*/