/*? MAIN ELEMENTS ?*/

:root {
  --primary-color: #040404;
  --secondary-color: #f8f8f8;
  --main-font: "LEMON MILK", sans-serif;
  --body-font: "Lato", sans-serif;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url('LemonMilk.eot');
    src: url('LemonMilk.eot?#iefix') format('embedded-opentype'),
        url('LemonMilk.woff2') format('woff2'),
        url('LemonMilk.woff') format('woff'),
        url('LemonMilk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


nav {
  background: var(--primary-color);
  font-size: 35px;
  font-weight: 100;
  position: fixed !important;
  width: 94%;
  z-index: 100;
  height: 150px;
  opacity: 0.92;
}
nav .container {
  margin: 0;
}
nav a:hover {
  font-size: 30px;
}

#logo-img {
  width: 250px;
}
#logo-img:hover {
  opacity: 0.8;
}

header {
  padding-top: 10%;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 100px;
  overflow-x: hidden;
  margin: 0 auto;
  width: 95%;
  scroll-behavior: smooth;
}

.highlighted {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 20px 2px 20px;
  font-weight: 500;
  font-size: 56px;
}

h3 {
  font-weight: 100;
}

h4 {
  font-weight: 300;
  margin-top: 5%;
  font-size: 40px;
}

a {
  font-weight: 100;
  font-size: 30px;
  text-decoration: 2px underline var(--secondary-color);
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

a:hover {
  text-decoration: line-through;
  color: var(--secondary-color);
}

.link-logo {
  padding-right: 12%;
}

p {
  font-family: var(--body-font);
  font-size: 25px;
  line-height: 45px;
}

.btn-primary-outline {
  font-family: var(--main-font);
  font-weight: 400 !important;
  font-size: 30px;
  padding: 10px 40px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  transition: all 100ms ease-in-out;
}
.btn-primary-outline:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  text-decoration: none;
  border: none;
}

/* Title sections */
.section-start {
  position: relative;
}
.title {
  position: absolute;
  text-align: center;
  top: 50%;
}
.title-image {
  height: 300px;
  object-fit: cover;
}

/*? MAIN TITLE SECTION ?*/
#pre-save {
  padding-left: 8%;
}

.circle {
  background: var(--secondary-color);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  margin-top: 15%;
}
.tiny-circles {
  background: #f8f8f8;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
#circle-one {
  height: 250px;
  width: 250px;
  top: 23%;
  left: -18%;
}
#circle-two {
  height: 175px;
  width: 175px;
  top: 10%;
  right: 10%;
}
#circle-three {
  height: 150px;
  width: 150px;
  bottom: 0%;
  right: 5%;
}

.pearls {
  top: 15%;
  right: 19%;
  height: 85%;
}

/*? ABOUT SECTION ?*/
#about-title-image {
  object-position: 0 -200px;
}

.about-images {
  width: 641px;
  height: 641px;
  border-radius: 50%;
}

/*? SHOWS SECTION ?*/
.mini-highlighted {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 20px 2px 20px;
  font-weight: 500;
  font-size: 30px;
}

#shows-section .btn-primary-outline {
  font-weight: 100 !important;
}
.disabled {
  background: #dbdbdb !important;
  color: var(--primary-color);
}

/*? MUSIC SECTION ?*/
#music-title-image {
  object-position: 0 -650px;
}

.album {
  background: #dbdbdb;
  padding: 2%;
  width: 100%;
}
#music-section .col-2 {
  margin: 0 !important;
}

/*? STREAMS SECTION ?*/
#streams-title-image {
  object-position: 0 -200px;
}

.guitar-solo {
  position: absolute;
  top: 13%;
  height: 75%;
  width: 80%;
}

.highlight-container {
  position: relative;
  text-align: center;
  padding: 2%;
}

.highlight-container h4 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlight-title {
  text-decoration: 2px underline var(--secondary-color);
}

.mini-logo {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  opacity: 0.4;
}
.mini-logo:hover {
  opacity: 0.7;
}

/*? SHOP SECTION ?*/
#shop-title-image {
  object-position: 0 -550px;
}

/*? CONTACT SECTION ?*/
#contact-section {
  padding-bottom: 15%;
}
#contact-title-image {
  object-position: 0 -450px;
}

/*? FOOTER ?*/
footer {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: var(--body-font);
  position: fixed;
  bottom: 0;
  background: var(--primary-color);
  opacity: 0.92;
  padding: 1% 3% 0 1%;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style: none;
}
footer a:hover {
  font-size: 36px;
  text-decoration: none;
}

/*! RESPONSIVE !*/
@media only screen and (max-width: 1199px) {
  body {
    text-align: center;
  }

  .text-end {
    text-align: center !important;
  }

  /*? MAIN TITLE SECTION ?*/
  #pre-save {
    text-align: start;
  }

  /*? STREAMS SECTION ?*/
  #twitch-schedule {
    text-align: start;
  }
  .guitar-solo {
    right: 17.5%;
  }
}

@media only screen and (max-width: 1100px) {
  .nav-link {
    font-size: 25px !important;
    justify-content: center;
  }
  #logo-img {
    width: 150px;
  }

  .btn-primary-outline {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 991px) {
  nav {
    width: 100%;
    height: 100px;
    justify-content: center;
  }

  .nav-link {
    font-size: 20px !important;
  }

  #logo-img {
    width: 180px;
  }

  body {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  .highlighted {
    font-size: 28px;
  }

  .mini-highlighted {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .btn-primary-outline {
    font-size: 15px;
  }

  /*? MAIN TITLE SECTION ?*/
  #pre-save {
    text-align: center;
    width: 100%;
    padding: 0;
  }
  /*? MAIN TITLE ?*/
  #pre-save a {
    left: 55% !important;
    margin-top: 3% !important;
  }

  header {
    padding: 15% 0 5% 0;
  }
  header a {
    margin-left: -11%;
  }

  .circle-visuals {
    display: none;
  }

  /*? ABOUT SECTION ?*/
  #about-title-image {
    object-position: 0 -75px;
  }
  .album {
    width: 150%;
  }

  .about-images {
    width: 80%;
    height: 80%;
  }

  /*? MUSIC SECTION ?*/
  #music-title-image {
    object-position: 0 -185px;
  }

  /*? STREAMS SECTION ?*/
  #streams-title-image {
    object-position: 0 -70px;
  }
  #livestreams-title {
    display: none;
  }
  #twitch-schedule {
    text-align: center;
    width: 100%;
  }

  .highlight-title {
    font-size: 24px;
  }

  /*? SHOP SECTION ?*/
  #shop-title-image {
    object-position: 0 -170px;
  }

  /*? CONTACT SECTION ?*/
  #contact-title-image {
    object-position: 0 -220px;
  }

  footer {
    height: 70px;
  }
}

@media only screen and (max-width: 900px) {
  #logo-img {
    width: 150px;
  }
  #pre-save {
    margin-top: 3%;
  }
  #pre-save a {
    left: 54% !important;
  }
}

@media only screen and (max-width: 800px) {
  .title-image {
    height: 150px;
  }

  /*? MAIN TITLE ?*/
  #pre-save a {
    left: 54% !important;
  }

  /*? ABOUT SECTION ?*/
  #about-title-image {
    object-position: 0 -115px;
  }

  /*? MUSIC SECTION ?*/
  #music-title-image {
    object-position: 0 -250px;
  }

  /*? STREAMS SECTION ?*/
  #streams-title-image {
    object-position: 0 -100px;
  }

  /*? SHOP SECTION ?*/
  #shop-title-image {
    object-position: 0 -295px;
  }

  /*? CONTACT   SECTION ?*/
  #contact-title-image {
    object-position: 0 -280px;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    height: 50px;
  }
  .nav-link {
    font-size: 15px !important;
  }
  .highlight-title {
    font-size: 15px;
    font-weight: 300;
  }

  #logo-img {
    display: none;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 15px;
  }

  .mini-highlighted {
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }

  h1 {
    font-size: 15px;
  }

  .btn-primary-outline {
    font-size: 12px;
  }

  /*? ABOUT SECTION ?*/
  #about-title-image {
    object-position: 0 -90px;
  }

  /*? MUSIC SECTION ?*/
  .album {
    margin-left: 90%;
    width: 150%;
  }

  .link-logo {
    padding-right: 5%;
  }

  /*? SHOP SECTION ?*/
  #shop-title-image {
    object-position: 0 -200px;
  }

  /*? CONTACT SECTION ?*/
  #contact-title-image {
    object-position: 0 -190px;
  }
  footer {
    height: 50px;
  }
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 15px;
  }

  /*? SHOWS SECTION ?*/
  #shows-section .btn-primary-outline {
    padding: 10px 10px !important;
  }
}

@media only screen and (max-width: 630px) {
  #pre-save a {
    left: 53% !important;
  }
}

@media only screen and (max-width: 575px) {
  /*? STREAMS SECTION ?*/
  .highlight-container {
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
  }
  .highlight-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 540px) {
  .nav-link {
    font-size: 12px !important;
  }

  #pre-save a {
    left: 52% !important;
  }

  .mini-highlighted {
    font-size: 15px;
  }

  /*? ABOUT SECTION ?*/
  #about-title-image {
    object-position: 0 -70px;
  }

  /*? MUSIC SECTION ?*/
  #music-title-image {
    object-position: 0 -210px;
  }

  /*? STREAMS SECTION ?*/
  #streams-title-image {
    object-position: 0 -80px;
  }

  /*? SHOP SECTION ?*/
  #shop-title-image {
    object-position: 0 -160px;
  }

  /*? CONTACT  SECTION ?*/
  #contact-title-image {
    object-position: 0 -180px;
  }
}

@media only screen and (max-width: 500px) {
  #pre-save a {
    left: 51% !important;
  }
}

@media only screen and (max-width: 450px) {
  p {
    font-size: 14px;
  }
  #pre-save a {
    left: 50% !important;
  }
}